body {
	background-color: #FFFFFF;
	color: #5959AC;
	font-family: "Times New Roman";
	font-size: 14px;




}
ul {
	list-style-type: none;
	list-style-image: url(purple1.gif);


}
ul ul {
	list-style-type: none;
	list-style-image: url(purple2.gif);

}
ul ul ul {
	list-style-type: none;
	list-style-image: url(purple2.gif);

}
ul ul ul ul {
	list-style-type: circle;
}
a:link {
	color: #666699;
}
