.ItemStyle {
	font-family: "Verdana";
	font-size: 14px;
	list-style-type: square;
	font-weight: normal;

}

.PopItemStyle {
	font-family: "Verdana";
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	list-style-type: disc;


}

body {
	color: #009900;
	background-color: #ECFFCC;


}
a {
	color: #009900;
}
